<footer class="bg-black-coral">
    <div class="container d-flex text-white pt-5">
        <div>
            <h2 class="text-white">About GIA Medical</h2>
            <p>GIA Medical is a California State Board of Pharmacy Licensed Biomedical Engineering Company that specializes in the repair and servicing of all brands of Hemodialysis, Plasmapheresis, Apheresis, and Reverse Osmosis equipment.</p>
        </div>
    </div>
    <hr>
    <div class="d-flex flex-column flex-lg-row align-items-center justify-content-center text-white pb-5 pb-lg-2">
        <a class="navbar-brand text-white d-inline-flex align-items-center" href="/"><svg xmlns="http://www.w3.org/2000/svg" width="48" height="47" viewBox="0 0 33 32"><g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1"><g transform="translate(-71.000000, -207.000000)"><g transform="translate(71.428571, 207.000000)"><path d="M10,0 L22,0 C27.5228475,0 32,4.4771525 32,10 L32,22 C32,27.5228475 27.5228475,32 22,32 L10,32 C4.4771525,32 0,27.5228475 0,22 L0,10 C0,4.4771525 4.4771525,0 10,0 Z"/><path stroke="rgba(15, 191, 151, 1)" stroke-linecap="round" stroke-width="1.3" d="M7,16.2964521 C10.0319936,16.2964521 11.3785735,18.1607115 11.6442424,18.1153545 C12.1294083,18.0325235 11.6525482,13.9560076 12.9174351,15.5024231 C14.1823221,17.0488387 12.7557605,21.8087492 14.2373887,19.8957446 C15.719017,17.9827399 15.4068303,7.59036727 16.5201075,8.01250578 C17.6333847,8.43464429 17.7882931,21.8740486 18.4865214,22.9037782 C19.1847498,23.9335078 19.910292,16.3602962 20.5033257,16.2964521 C20.8986815,16.2538894 22.7309063,16.2538894 26,16.2964521"/></g></g></g></svg>GIA Medical</a>
        <span class="ps-lg-1">© 2021</span>
        <span class="ps-2"><span class="d-none d-lg-inline"> | </span><a class="text-white" href="/privacy-policy">Privacy Policy</a> | <a class="text-white" href="/terms-of-service">Terms of Service</a></span>
    </div>
</footer>
