<footer class="bg-black-coral">
    <div class="container d-flex flex-column flex-lg-row text-white pt-5">
        <div>
            <h2 class="text-white">About GIA Medical</h2>
            <p>GIA Medical is a California State Board of Pharmacy Licensed Biomedical Engineering Company that specializes in the repair and servicing of all brands of Hemodialysis, Plasmapheresis, Apheresis, and Reverse Osmosis equipment.</p>
        </div>
    </div>
    <hr>
    <div class="d-flex align-items-center justify-content-center">
        <a href="https://www.facebook.com/GiaMedical" aria-label="Facebook" target="_blank" rel="noreferrer noopener">
            <svg class="mx-2" xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1"><g fill="#fff" transform="translate(-200.000000, -160.000000)"><path d="M225.638355,208 L202.649232,208 C201.185673,208 200,206.813592 200,205.350603 L200,162.649211 C200,161.18585 201.185859,160 202.649232,160 L245.350955,160 C246.813955,160 248,161.18585 248,162.649211 L248,205.350603 C248,206.813778 246.813769,208 245.350955,208 L233.119305,208 L233.119305,189.411755 L239.358521,189.411755 L240.292755,182.167586 L233.119305,182.167586 L233.119305,177.542641 C233.119305,175.445287 233.701712,174.01601 236.70929,174.01601 L240.545311,174.014333 L240.545311,167.535091 C239.881886,167.446808 237.604784,167.24957 234.955552,167.24957 C229.424834,167.24957 225.638355,170.625526 225.638355,176.825209 L225.638355,182.167586 L219.383122,182.167586 L219.383122,189.411755 L225.638355,189.411755 L225.638355,208 L225.638355,208 Z"/></g></g></svg>
        </a>
        <a href="https://www.linkedin.com/company/giamedical" aria-label="Linkedin" target="_blank" rel="noreferrer noopener">
            <svg class="mx-2" xmlns="http://www.w3.org/2000/svg" width="44" height="40" viewBox="0 0 44 40"><g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1"><g fill="#fff" transform="translate(-702.000000, -265.000000)"><path d="M746,305 L736.2754,305 L736.2754,290.9384 C736.2754,287.257796 734.754233,284.74515 731.409219,284.74515 C728.850659,284.74515 727.427799,286.440738 726.765522,288.074854 C726.517168,288.661395 726.555974,289.478453 726.555974,290.295511 L726.555974,305 L716.921919,305 C716.921919,305 717.046096,280.091247 716.921919,277.827047 L726.555974,277.827047 L726.555974,282.091631 C727.125118,280.226996 730.203669,277.565794 735.116416,277.565794 C741.21143,277.565794 746,281.474355 746,289.890824 L746,305 L746,305 Z M707.17921,274.428187 L707.117121,274.428187 C704.0127,274.428187 702,272.350964 702,269.717936 C702,267.033681 704.072201,265 707.238711,265 C710.402634,265 712.348071,267.028559 712.41016,269.710252 C712.41016,272.34328 710.402634,274.428187 707.17921,274.428187 L707.17921,274.428187 L707.17921,274.428187 Z M703.109831,277.827047 L711.685795,277.827047 L711.685795,305 L703.109831,305 L703.109831,277.827047 L703.109831,277.827047 Z"/></g></g></svg>
        </a>
    </div>
    <div class="d-flex flex-column flex-lg-row align-items-center justify-content-center text-white pb-5 pb-lg-2">
        <a class="navbar-brand text-white d-inline-flex align-items-center" href="/"><svg xmlns="http://www.w3.org/2000/svg" width="48" height="47" viewBox="0 0 33 32"><g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1"><g transform="translate(-71.000000, -207.000000)"><g transform="translate(71.428571, 207.000000)"><path d="M10,0 L22,0 C27.5228475,0 32,4.4771525 32,10 L32,22 C32,27.5228475 27.5228475,32 22,32 L10,32 C4.4771525,32 0,27.5228475 0,22 L0,10 C0,4.4771525 4.4771525,0 10,0 Z"/><path stroke="rgba(15, 191, 151, 1)" stroke-linecap="round" stroke-width="1.3" d="M7,16.2964521 C10.0319936,16.2964521 11.3785735,18.1607115 11.6442424,18.1153545 C12.1294083,18.0325235 11.6525482,13.9560076 12.9174351,15.5024231 C14.1823221,17.0488387 12.7557605,21.8087492 14.2373887,19.8957446 C15.719017,17.9827399 15.4068303,7.59036727 16.5201075,8.01250578 C17.6333847,8.43464429 17.7882931,21.8740486 18.4865214,22.9037782 C19.1847498,23.9335078 19.910292,16.3602962 20.5033257,16.2964521 C20.8986815,16.2538894 22.7309063,16.2538894 26,16.2964521"/></g></g></g></svg>GIA Medical</a>
        <span class="ps-lg-1">© 2021</span>
        <span class="ps-2"><span class="d-none d-lg-inline"> | </span><a class="text-white" href="/privacy-policy">Privacy Policy</a> | <a class="text-white" href="/terms-of-service">Terms of Service</a></span>
    </div>
</footer>
