<head>
    <meta charset="utf-8">
    <title><%= title || 'GIA Medical' %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="GIA Medical is a California State Board of Pharmacy Licensed Biomedical Engineering Company that specializes in the repair and servicing of all brands of Hemodialysis, Plasmapheresis, Apheresis, and Reverse Osmosis equipment.">

    <meta property="og:title" content="GIA Medical">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://giamedical.com">
    <meta property="og:image" content="https://giamedical.com/images/gia-ben-hur.jpg">

    <meta name="theme-color" content="#4A5b6d">

    <link rel="manifest" href="/site.webmanifest">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="icon" href="/favicon.ico">

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel='stylesheet' href='/stylesheets/main.css' />
</head>
