<!DOCTYPE html>
<html lang="en" class="no-js">
    <%- include('partials/meta.ejs') %>

    <body id="404">
        <%- include('partials/navbar.ejs') %>

        <main>
            <section class="four-0-four-hero">
                <div class="d-flex flex-column align-items-center justify-content-center">
                    <h1 class="display-1 text-white">Page Not Found</h1>
                    <p class="text-center">Opps! Something went wrong. We can't seem to find the page.</p>
                    <a class="btn shadow" href="/">Home</a>
                </div>
            </section>
        </main>

        <%- include('partials/footbar.ejs') %>
        <%- include('partials/scripts.ejs') %>
    </body>
</html>
