<!DOCTYPE html>
<html lang="en" class="no-js">
    <%- include('partials/meta.ejs') %>
    <style>
        .navbar .navbar-brand { color: #000 !important; }
    </style>
    <body>
        <%- include('partials/navbar.ejs') %>

        <main>
            <section class="pt-5">
                <div class="d-flex flex-column align-items-center justify-content-center pt-5">
                    <h1 class="display-1 m-0">Terms of Service</h1>
                    <span class="fs-3">Terms and conditions.</span>
                </div>
            </section>

            <section>
                <div class="container py-5">
                    <article>
                        <h3>1. Terms</h3>
                        <p>By accessing the website at <a href="https://giamedical.com">https://giamedical.com</a>, you are agreeing to
                            be bound by these terms of service, all applicable laws and regulations, and agree that you are responsible
                            for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited
                            from using or accessing this site. The materials contained in this website are protected by applicable
                            copyright and trademark law.</p>
                        <h3>2. Use License</h3>
                        <ol type="a">
                            <li>Permission is granted to temporarily download one copy of the materials (information or software) on
                                GIA Medical's website for personal, non-commercial transitory viewing only. This is the grant of a license,
                                not a transfer of title, and under this license you may not:</li>
                            <li>modify or copy the materials;</li>
                            <li>use the materials for any commercial purpose, or for any public display (commercial or non-commercial);</li>
                            <li>attempt to decompile or reverse engineer any software contained on GIA Medical's website;</li>
                            <li>remove any copyright or other proprietary notations from the materials; or</li>
                            <li>transfer the materials to another person or "mirror" the materials on any other server.</li>
                            <li>This license shall automatically terminate if you violate any of these restrictions and may be terminated
                                by GIA Medical at any time. Upon terminating your viewing of these materials or upon the termination of this
                                license, you must destroy any downloaded materials in your possession whether in electronic or printed
                                format.</li>
                        </ol>
                        <h3>3. Disclaimer</h3>
                        <ol type="a">
                            <li>The materials on GIA Medical's website are provided on an 'as is' basis. GIA Medical makes no warranties,
                                expressed or implied, and hereby disclaims and negates all other warranties including, without limitation,
                                implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement
                                of intellectual property or other violation of rights.</li>
                            <li>Further, GIA Medical does not warrant or make any representations concerning the accuracy, likely results,
                                or reliability of the use of the materials on its website or otherwise relating to such materials or on any
                                sites linked to this site.</li>
                        </ol>
                        <h3>4. Limitations</h3>
                        <p>In no event shall GIA Medical or its suppliers be liable for any damages (including, without limitation,
                            damages for loss of data or profit, or due to business interruption) arising out of the use or inability to
                            use the materials on GIA Medical's website, even if GIA Medical or a GIA Medical authorized representative has
                            been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow
                            limitations on implied warranties, or limitations of liability for consequential or incidental damages, these
                            limitations may not apply to you.</p>
                        <h3>5. Accuracy of materials</h3>
                        <p>The materials appearing on GIA Medical's website could include technical, typographical, or photographic
                            errors. GIA Medical does not warrant that any of the materials on its website are accurate, complete or
                            current. GIA Medical may make changes to the materials contained on its website at any time without notice.
                            However GIA Medical does not make any commitment to update the materials.</p>
                        <h3>6. Links</h3>
                        <p>GIA Medical has not reviewed all of the sites linked to its website and is not responsible for the contents
                            of any such linked site. The inclusion of any link does not imply endorsement by GIA Medical of the site. Use
                            of any such linked website is at the user's own risk.</p>
                        <h3>7. Modifications</h3>
                        <p>GIA Medical may revise these terms of service for its website at any time without notice. By using this
                            website you are agreeing to be bound by the then current version of these terms of service.</p>
                        <h3>8. Governing Law</h3>
                        <p>These terms and conditions are governed by and construed in accordance with the laws of CA and you
                            irrevocably submit to the exclusive jurisdiction of the courts in that State or location.</p>
                    </article>
                </div>
            </section>
            <button id="to-top-btn" class="btn shadow-sm" title="Back to Top"><svg xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" viewBox="0 0 448 512"><path fill="#fff" d="M240.971 130.524l194.343 194.343c9.373 9.373 9.373 24.569 0 33.941l-22.667 22.667c-9.357 9.357-24.522 9.375-33.901.04L224 227.495 69.255 381.516c-9.379 9.335-24.544 9.317-33.901-.04l-22.667-22.667c-9.373-9.373-9.373-24.569 0-33.941L207.03 130.525c9.372-9.373 24.568-9.373 33.941-.001z"/></svg></button>
        </main>

        <%- include('partials/footbar.ejs') %>
        <%- include('partials/scripts.ejs') %>
    </body>
</html>
